body {
  padding: 0px;
  margin: 0px;
}

header {
  text-align: center;
}

#color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

#preto {
  background-color: black;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

#verde {
  background-color: green;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

#rosa {
  background-color: pink;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

#azul {
  background-color: blue;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

#tudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pixel-board {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 250px;
  width: 206px;
}

.pixel {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  height: 40px;
  width: 40px;
}
