body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow:column;
  padding: 0px;
  padding-top: 5px;
  margin: 0px;
}

header {
  text-align: center;
  min-width: 250px;
  font-family: 'Courier New', Courier, monospace;
}
h1{
  background-color: rgba(187, 158, 201, 0.623);
  padding: 20px;
  border-radius: 1em;
  color: rgb(55, 71, 66);
}

#color-palette {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 1px;
  margin-top: 25px;
}

#preto {
  background-color: black;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 5em;
}

/*:hover #verde {
  height: 55px;
  width: 55px;
}*/
#verde{
  background-color: green;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 5em;
}

#rosa {
  background-color: pink;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 5em;
}

#azul {
  background-color: blue;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 5em;
}

#tudo {
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
	width: 250px;
  padding: 20px;
  background-color: rgba(187, 158, 201, 0.623);
  border-radius: 1.3em;
  height: 300px;
}

#pixel-board {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 225px;
  width: 225px;
  margin-top: 15px;
  margin-bottom:20px;
}
.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelPreto {
  background-color: black;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelVerde {
  background-color: green;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelRosa {
  background-color: pink;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelAzul {
  background-color: blue;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

